In [1]:
import sys
print(sys.executable)

D:\data-engineer\data-engineer-zoomcamp\01-infrasructure\01-docker-and-postgre\env\python.exe

In [5]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

# Format URL: 'postgresql://[user]:[password]@[host]:[port]/[dbname]'
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [6]:
# Membagi data dalam chunk
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# Mendapatkan chunk pertama dan meyimpannya ke dalam variable df
df = next(df_iter)

In [7]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [8]:
from time import time  # Mengimpor modul time untuk tracking waktu

# Loop yang akan berjalan terus menerus sampai terjadi exception (seperti StopIteration)
while True: 
    t_start = time()  # Menandai waktu mulai proses

    df = next(df_iter)  # Mengambil chunk berikutnya dari iterator df_iter

    # Mengubah kolom tpep_pickup_datetime dan tpep_dropoff_datetime
    # dari format string ke datetime menggunakan pandas.to_datetime
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    # Menyimpan DataFrame ke dalam tabel SQL 'yellow_taxi_data'.
    # - 'con=engine' menggunakan engine SQLAlchemy yang telah dibuat sebelumnya untuk koneksi database.
    # - 'if_exists='append'' berarti bahwa data akan ditambahkan ke tabel jika tabel itu sudah ada.
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()  # Menandai waktu akhir proses

    # Mencetak waktu yang diperlukan untuk memproses dan memasukkan chunk data tersebut
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.726 second
inserted another chunk, took 10.821 second
inserted another chunk, took 11.219 second
inserted another chunk, took 10.562 second
inserted another chunk, took 10.975 second
inserted another chunk, took 10.709 second
inserted another chunk, took 11.211 second
inserted another chunk, took 12.775 second
inserted another chunk, took 11.847 second
inserted another chunk, took 10.690 second
inserted another chunk, took 10.842 second

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24116\3522245172.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)  # Mengambil chunk berikutnya dari iterator df_iter

inserted another chunk, took 10.260 second
inserted another chunk, took 6.975 second

StopIteration:

In [9]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-01-05 10:38:40,2021-01-05 10:46:20,NaN,1.30,NaN,NaN,170,161,NaN,7.00,0.00,0.5,1.03,0.00,0.3,11.33,2.5
1300001,NaN,2021-01-05 10:17:14,2021-01-05 10:41:21,NaN,7.90,NaN,NaN,216,198,NaN,31.49,0.00,0.5,2.75,0.00,0.3,35.04,0.0
1300002,NaN,2021-01-05 10:39:00,2021-01-05 10:46:00,NaN,0.98,NaN,NaN,62,62,NaN,16.23,0.00,0.5,2.75,0.00,0.3,19.78,0.0
1300003,NaN,2021-01-05 10:05:00,2021-01-05 10:19:00,NaN,1.59,NaN,NaN,85,71,NaN,13.45,0.00,0.5,2.75,0.00,0.3,17.00,0.0
1300004,NaN,2021-01-05 10:18:08,2021-01-05 10:41:40,NaN,9.87,NaN,NaN,236,208,NaN,30.23,0.00,0.5,2.75,6.12,0.3,39.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.00,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.00,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.00,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.00,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.00,0.3,24.31,0.0